<div class="w-8/12 text-2xl font-semibold text-center mx-auto my-8">Orders</div>
<%= render 'stats' %>
<%= render 'filter' %>
<div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-12">
  <%= render @orders %>
</div>
